In [1]:
import numpy as np
import pandas as pd 

from pandas import Series, DataFrame

In [3]:
sel  = Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

print(sel)

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
# 获取内容
sel.values

array([1, 2, 3, 4], dtype=int64)

In [6]:
# 获取索引
sel.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
# 获取索引和值
list(sel.iteritems())

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [9]:
d = {"red": 100, "black": 400, "green": 300, "pink": 900}
se2 = Series(d)
print(se2)

red      100
black    400
green    300
pink     900
dtype: int64

In [11]:
sel["a"]

1

In [12]:
sel[[1, 3]]

b    2
d    4
dtype: int64

In [13]:
sel[["b", "d"]]

b    2
d    4
dtype: int64

In [15]:
print(sel.reindex(['b', 'a', 'c', 'd', 'e']))

b    2.0
a    1.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [23]:
df1 = DataFrame(np.random.randint(0, 10, (4, 4)), index=[1, 2, 3, 4], columns=['a', 'b', 'c', 'd'])

In [24]:
df1

   a  b  c  d
1  0  9  7  3
2  3  2  0  7
3  1  3  6  3
4  0  9  1  3

In [25]:
d = {
    "Province": ["Guangdong", "Beijing", "QingHai", "Fujian"],
    "pop": [1.2, 2.3, 3.3, 2.3],
    "year": [2018, 2018, 2018, 2018]
}
df2 = DataFrame(d, index=[1, 2, 3, 4])
print(df2)

Province  pop  year
1  Guangdong  1.2  2018
2    Beijing  2.3  2018
3    QingHai  3.3  2018
4     Fujian  2.3  2018

In [27]:
df2.shape

(4, 3)

In [39]:
[True if item else False for item in range(10)]

list(map(lambda x: x if x > 5 else 0, [item for item in range(10)]))

[0, 0, 0, 0, 0, 0, 6, 7, 8, 9]