In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [123]:
# 读取数据
data = pd.read_csv('../../data/kaikeba/googleplaystore.csv')
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
data.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [12]:
data[data['App'].duplicated()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
229,Quick PDF Scanner + OCR FREE,BUSINESS,4.2,80805,Varies with device,"5,000,000+",Free,0,Everyone,Business,"February 26, 2018",Varies with device,4.0.3 and up
236,Box,BUSINESS,4.2,159872,Varies with device,"10,000,000+",Free,0,Everyone,Business,"July 31, 2018",Varies with device,Varies with device
239,Google My Business,BUSINESS,4.4,70991,Varies with device,"5,000,000+",Free,0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4 and up
256,ZOOM Cloud Meetings,BUSINESS,4.4,31614,37M,"10,000,000+",Free,0,Everyone,Business,"July 20, 2018",4.1.28165.0716,4.0 and up
261,join.me - Simple Meetings,BUSINESS,4.0,6989,Varies with device,"1,000,000+",Free,0,Everyone,Business,"July 16, 2018",4.3.0.508,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10715,FarmersOnly Dating,DATING,3.0,1145,1.4M,"100,000+",Free,0,Mature 17+,Dating,"February 25, 2016",2.2,4.0 and up
10720,Firefox Focus: The privacy browser,COMMUNICATION,4.4,36981,4.0M,"1,000,000+",Free,0,Everyone,Communication,"July 6, 2018",5.2,5.0 and up
10730,FP Notebook,MEDICAL,4.5,410,60M,"50,000+",Free,0,Everyone,Medical,"March 24, 2018",2.1.0.372,4.4 and up
10753,Slickdeals: Coupons & Shopping,SHOPPING,4.5,33599,12M,"1,000,000+",Free,0,Everyone,Shopping,"July 30, 2018",3.9,4.4 and up
10768,AAFP,MEDICAL,3.8,63,24M,"10,000+",Free,0,Everyone,Medical,"June 22, 2018",2.3.1,5.0 and up

In [14]:
data.drop(data[data.duplicated()].index, inplace=True)

In [44]:
data["Category"].value_counts(dropna=False)

FAMILY                 1943
GAME                   1121
TOOLS                   843
BUSINESS                427
MEDICAL                 408
PRODUCTIVITY            407
PERSONALIZATION         388
LIFESTYLE               373
COMMUNICATION           366
FINANCE                 360
SPORTS                  351
PHOTOGRAPHY             322
HEALTH_AND_FITNESS      306
SOCIAL                  280
NEWS_AND_MAGAZINES      264
TRAVEL_AND_LOCAL        237
BOOKS_AND_REFERENCE     230
SHOPPING                224
DATING                  196
VIDEO_PLAYERS           175
MAPS_AND_NAVIGATION     137
EDUCATION               130
FOOD_AND_DRINK          124
ENTERTAINMENT           111
LIBRARIES_AND_DEMO       85
AUTO_AND_VEHICLES        85
WEATHER                  82
HOUSE_AND_HOME           80
ART_AND_DESIGN           65
EVENTS                   64
COMICS                   60
PARENTING                60
BEAUTY                   54
Name: Category, dtype: int64

In [43]:
# data.loc[10472, "Category"] = "BEAUTY"
data[data['Category'] == "1.9"]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [53]:
data.Rating.value_counts(dropna=False)

4.189542     1465
4.400000     1032
4.300000     1016
4.500000      977
4.200000      888
4.600000      768
4.100000      657
4.000000      539
4.700000      484
3.900000      372
3.800000      293
5.000000      271
3.700000      231
4.800000      228
3.600000      169
3.500000      157
3.400000      127
3.300000      101
4.900000       87
3.000000       82
3.100000       69
3.200000       64
2.900000       45
2.800000       40
2.600000       24
2.700000       23
2.300000       20
2.500000       20
2.400000       19
1.000000       16
2.200000       14
1.900000       12
2.000000       12
2.100000        8
1.800000        8
1.700000        8
1.600000        4
1.400000        3
1.500000        3
1.200000        1
19.000000       1
Name: Rating, dtype: int64

In [52]:
data["Rating"].fillna(value=data['Rating'].mean(), inplace=True)

In [55]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [99]:
data.Reviews.str.replace("M", "")

0           159
1           967
2         87510
3        215644
4           967
          ...
10836        38
10837         4
10838         3
10839       114
10840    398307
Name: Reviews, Length: 10358, dtype: object

In [102]:
data[~data['Reviews'].str.isnumeric()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,BEAUTY,19.0,3.0,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [105]:
data['Reviews'] = data['Reviews'].astype(float)

In [106]:
data.describe()

             Rating       Reviews
count  10358.000000  1.035800e+04
mean       4.189542  4.058654e+05
std        0.505405  2.696651e+06
min        1.000000  0.000000e+00
25%        4.100000  3.200000e+01
50%        4.200000  1.678500e+03
75%        4.500000  4.640425e+04
max       19.000000  7.815831e+07

In [124]:
data['Size'] = data.Size.str.replace("M", "e+6")

In [120]:
data[~data['Size'].str.isnumeric()]['Size']

2         8.7
4         2.8
5         5.6
9         3.1
15        2.7
         ...
10833    619k
10834     2.6
10835     9.6
10837     3.6
10838     9.5
Name: Size, Length: 3863, dtype: object

In [119]:
data.drop(data[data['Size'] == "Varies with device"].index, inplace=True)

In [128]:
# 把K转换位M 转换成科学计数法
data["Size"] = data.Size.str.replace("Varies with device", "0")

In [146]:
data["Size"].value_counts()

1.815042e+07    1695
1.100000e+07     198
1.200000e+07     196
1.400000e+07     194
1.300000e+07     191
                ...
4.290000e+05       1
9.700000e+04       1
4.120000e+05       1
5.440000e+05       1
8.110000e+05       1
Name: Size, Length: 461, dtype: int64

In [141]:
data["Size"] = data.Size.str.replace("+", "")

In [142]:
data['Size'] = data['Size'].astype('f8')

In [145]:
data[data["Size"] == 0] = data['Size'].mean()

In [147]:
data.describe()

             Rating          Size
count  9.425000e+03  1.084100e+04
mean   3.264190e+06  2.098825e+07
std    6.971123e+06  2.078351e+07
min    1.000000e+00  1.000000e+03
25%    4.100000e+00  5.900000e+06
50%    4.400000e+00  1.800000e+07
75%    4.700000e+00  2.600000e+07
max    1.815042e+07  1.000000e+08