In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
# 读取数据
data = pd.read_csv('../../data/kaikeba/order_info_2016.csv', index_col='id')
data.head()

,orderId,userId,productId,cityId,price,payMoney,channelId,deviceType,createTime,payTime
id,,,,,,,,,,
1,232148841,2794924,268,110001,35300,35300,9058255c90,3,2016-01-01 12:53:02,2016-01-01 12:53:24
2,222298971,1664684,801,330001,51200,49900,e0e6019897,2,2016-01-01 21:42:51,2016-01-01 21:43:30
3,211494392,2669372,934,220002,62100,62100,9058255c90,3,2016-01-01 14:10:13,2016-01-01 14:11:18
4,334575272,1924727,422,230001,50600,42000,46d5cea30d,2,2016-01-01 17:43:35,2016-01-01 17:43:53
5,144825651,4148671,473,130006,149100,142000,6ff1752b69,2,2016-01-01 18:52:04,2016-01-01 18:52:47

In [5]:
data.describe()

,orderId,userId,productId,cityId,price,payMoney,deviceType
count,1.045570e+05,1.045570e+05,104557.000000,104557.000000,1.045570e+05,1.045570e+05,104557.000000
mean,2.993341e+08,3.270527e+06,504.566275,154410.947225,9.167350e+04,8.686689e+04,2.385292
std,5.149818e+07,4.138208e+07,288.130647,72197.163762,9.158836e+04,9.072028e+04,0.648472
min,1.035627e+08,2.930600e+04,0.000000,30000.000000,6.000000e+02,-1.000000e+03,1.000000
25%,2.633627e+08,2.179538e+06,254.000000,100011.000000,3.790000e+04,3.360000e+04,2.000000
50%,2.989828e+08,2.705995e+06,507.000000,150001.000000,5.920000e+04,5.500000e+04,2.000000
75%,3.349972e+08,3.271237e+06,758.000000,220002.000000,1.080000e+05,1.040000e+05,3.000000
max,4.871430e+08,3.072939e+09,1000.000000,380001.000000,2.295600e+06,2.294200e+06,6.000000

In [6]:
# 查看不重复的记录
data.orderId.unique().size

104530

In [7]:
data.orderId.size

104557

In [8]:
# 转换价格
data.price = data.price / 100

In [11]:
# 产出掉异常值
data.drop(data[data.payMoney < 0].index, inplace=True)

In [12]:
data[data.payMoney < 0]

Empty DataFrame
Columns: [orderId, userId, productId, cityId, price, payMoney, channelId, deviceType, createTime, payTime]
Index: []

In [13]:
data.describe()

,orderId,userId,productId,cityId,price,payMoney,deviceType
count,1.045510e+05,1.045510e+05,104551.000000,104551.000000,104551.000000,1.045510e+05,104551.000000
mean,2.993335e+08,3.270559e+06,504.562740,154410.912932,916.760547,8.687194e+04,2.385305
std,5.149949e+07,4.138327e+07,288.137028,72196.297520,915.887228,9.072045e+04,0.648468
min,1.035627e+08,2.930600e+04,0.000000,30000.000000,6.000000,0.000000e+00,1.000000
25%,2.633601e+08,2.179658e+06,254.000000,100011.000000,379.000000,3.360000e+04,2.000000
50%,2.989820e+08,2.705995e+06,507.000000,150001.000000,592.000000,5.500000e+04,2.000000
75%,3.349980e+08,3.271231e+06,758.000000,220002.000000,1080.000000,1.040000e+05,3.000000
max,4.871430e+08,3.072939e+09,1000.000000,380001.000000,22956.000000,2.294200e+06,6.000000

In [15]:
data.drop(data[data.channelId.isnull()].index, inplace=True)

In [16]:
data[data.channelId.isnull()]

Empty DataFrame
Columns: [orderId, userId, productId, cityId, price, payMoney, channelId, deviceType, createTime, payTime]
Index: []

In [17]:
data.deviceType.value_counts(dropna=False)

2    52440
3    42944
1     7052
4     2017
6       87
5        3
Name: deviceType, dtype: int64

In [19]:
data.drop(data[data.productId == 0].index, inplace=True)

In [20]:
data[data.productId == 0]

Empty DataFrame
Columns: [orderId, userId, productId, cityId, price, payMoney, channelId, deviceType, createTime, payTime]
Index: []

In [25]:
data.payMoney = data.payMoney / 100

In [26]:
print(data.orderId.count())
print(data.userId.unique().size)
print(data.payMoney.sum())

104366
102484
90698741.7

In [30]:
data.groupby('productId').count()["orderId"].sort_values(ascending=False)  # 按照销量排序

productId
895     354
762     350
103     335
587     303
60      302
       ...
347      21
597      19
468      18
986      16
1000     13
Name: orderId, Length: 1000, dtype: int64

In [36]:
data.groupby('productId').sum()['payMoney'].sort_values(ascending=False)

productId
385     427522.1
61      363012.0
103     346410.2
405     339525.0
720     322405.1
          ...
408      18861.0
986      14784.0
964      14238.0
1000     12169.0
347      12070.0
Name: payMoney, Length: 1000, dtype: float64

In [49]:
data.drop(['商品销售占总销售额的占比'], axis=1, inplace=True)

In [50]:
data.head()

,orderId,userId,productId,cityId,price,payMoney,channelId,deviceType,createTime,payTime
id,,,,,,,,,,
1,232148841,2794924,268,110001,353.0,353.0,9058255c90,3,2016-01-01 12:53:02,2016-01-01 12:53:24
2,222298971,1664684,801,330001,512.0,499.0,e0e6019897,2,2016-01-01 21:42:51,2016-01-01 21:43:30
3,211494392,2669372,934,220002,621.0,621.0,9058255c90,3,2016-01-01 14:10:13,2016-01-01 14:11:18
4,334575272,1924727,422,230001,506.0,420.0,46d5cea30d,2,2016-01-01 17:43:35,2016-01-01 17:43:53
5,144825651,4148671,473,130006,1491.0,1420.0,6ff1752b69,2,2016-01-01 18:52:04,2016-01-01 18:52:47

In [45]:
data.productId.size

104366